upstream app_servers {
{% for host in groups['webserver'] %}
    server {{ hostvars[host].ansible_default_ipv4.address }}:80 weight=1;
{% endfor %}
}
server {
    listen 3000;
    location / {
        proxy_pass http://app_servers;
    }
}
